body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-box {
  width: 480px;
  margin: auto;
  padding: 20px 36px;
  border: 1px solid black;
}

.form-box h1 {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

.header-bar {
  display: grid;
  grid-template-columns: 90% 10%;
  text-align: right;
}

.questions {
  font-size: 12px;
}

.signin-button {
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 11px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  background: #0077c5;
  border: 1px #4c4c4c solid;
  border-radius: 4px;
  cursor: pointer;
}

.title {
  color: #8D9095;
  text-align: center;
  padding-bottom: 20px;
}

.title h2 {
  margin-bottom: -4px;
  letter-spacing: 1px;
}

ul {
  display: inline;
  list-style-type: none;
  margin-left:-40px;
}

li {
  padding-left: 8px;
  display: inline;
  line-height: 30px;
}

.icon {
  position: relative;
  top: 7px;
  margin-right: 4px;
}

footer {
  font-size: 10px;
  text-align: center;
  line-height: 3px;
}

footer a {
  text-decoration: none;

}

.cursor {
  cursor: pointer;
}
